body{
  background: linear-gradient(135deg, #ffffff, #ffffff);
}
/* Main layout */
.homepage-content {
  display: flex;
  margin-top: 130px; /* Push content below the fixed Story bar */
  padding: 0 20px;
  background: rgb(255, 255, 255);
  
}

/* Post feed area */
.feed-section {
  flex: 1;
  max-width: 600px;
  margin-right: 210px;
  
}
.feed-section {
  overflow-y: auto;
  max-height: calc(100vh - 130px); 
}


/* Optional: prevent overlap */
.story-wrapper {
  z-index: 99;

}
